.branding-primary,.branding-hover-primary:hover{color:[[T1]]!important;background-color:[[BG1]]!important}
.branding-secondary,.branding-hover-secondary:hover{color:[[T2]]!important;background-color:[[BG2]]!important}
.branding-tertiary,.branding-hover-tertiary:hover{color:[[T3]]!important;background-color:[[BG3]]!important}

.WARN {
    color:[[WARN]];
}

.INFO {
    color:[[INFO]];
}

.DEBUG {
    color:[[DEBUG]];
}

.ERROR {
    color:[[ERROR]];
}

.TRACE {
    color: [[TRACE]];
}