/* background colors */
.whitetail-charcoal,.whitetail-hover-charcoal:hover{color:#fff!important;background-color:#373F51!important}
.whitetail-grey,.whitetail-hover-grey:hover{color:#000!important;background-color:#aaaaaa!important}
.whitetail-white,.whitetail-hover-white:hover{color:#fff!important;background-color:#D8DBE2!important}
/*
.whitetail-blue,.whitetail-hover-blue:hover{color:#fff!important;background-color:#5E81AC!important}
.whitetail-green,.whitetail-hover-green:hover{color:#fff!important;background-color:#A3BE8C!important}
.whitetail-yellow,.whitetail-hover-yellow:hover{color:#000!important;background-color:#EBCB8B!important}
.whitetail-orange,.whitetail-hover-orange:hover{color:#000!important;background-color:#D08770!important}
.whitetail-red,.whitetail-hover-red:hover{color:#000!important;background-color:#BF616A!important}
.whitetail-purple,.whitetail-hover-purple:hover{color:#000!important;background-color:#B48EAD!important}
*/
.whitetail-blue,.whitetail-hover-blue:hover{color:#fff!important;background-color:#2B50AA!important}
.whitetail-cyan,.whitetail-hover-cyan:hover{color:#000!important;background-color:#107E7D!important}
.whitetail-green,.whitetail-hover-green:hover{color:#fff!important;background-color:#4F772D!important}
.whitetail-yellow,.whitetail-hover-yellow:hover{color:#000!important;background-color:#E3B505!important}
.whitetail-orange,.whitetail-hover-orange:hover{color:#000!important;background-color:#E24E1B!important}
.whitetail-red,.whitetail-hover-red:hover{color:#fff!important;background-color:#95190C!important}
.whitetail-purple,.whitetail-hover-purple:hover{color:#000!important;background-color:#610345 !important}
.whitetail-brown,.whitetail-hover-brown:hover{color:#fff!important;background-color:#524632!important}
.whitetail-tan,.whitetail-hover-ran:hover{color:#000!important;background-color:#8F7E4F!important}
.whitetail-sage,.whitetail-hover-sage:hover{color:#000!important;background-color:#C3C49E!important}

/* text colors */
.whitetail-text-charcoal,.whitetail-hover-text-charcoal:hover{color:#373F51!important}
.whitetail-text-grey,.whitetail-hover-text-grey:hover{color:#aaaaaa!important}
.whitetail-text-white,.whitetail-hover-text-white:hover{color:#D8DBE2!important}
/*
.whitetail-text-blue,.whitetail-hover-text-blue:hover{color:#5E81AC!important}
.whitetail-text-green,.whitetail-hover-text-green:hover{color:#A3BE8C!important}
.whitetail-text-yellow,.whitetail-hover-text-yellow:hover{color:#EBCB8B!important}
.whitetail-text-orange,.whitetail-hover-text-orange:hover{color:#D08770!important}
.whitetail-text-red,.whitetail-hover-text-red:hover{color:#BF616A!important}
.whitetail-text-purple,.whitetail-hover-text-purple:hover{color:#B48EAD!important}
*/
.whitetail-text-blue,.whitetail-hover-text-blue:hover{color:#2B50AA!important}
.whitetail-text-cyan,.whitetail-hover-text-cyan:hover{color:#107E7D!important}
.whitetail-text-green,.whitetail-hover-text-green:hover{color:#4F772D!important}
.whitetail-text-yellow,.whitetail-hover-text-yellow:hover{color:#E3B505!important}
.whitetail-text-orange,.whitetail-hover-text-orange:hover{color:#E24E1B!important}
.whitetail-text-red,.whitetail-hover-text-red:hover{color:#95190C!important}
.whitetail-text-purple,.whitetail-hover-text-purple:hover{color:#610345!important}
.whitetail-text-brown,.whitetail-hover-text-brown:hover{color:#524632!important}
.whitetail-text-tan,.whitetail-hover-text-tan:hover{color:#8F7E4F!important}
.whitetail-text-sage,.whitetail-hover-text-sage:hover{color:#C3C49E!important}


/* border colors */
.whitetail-border-charcoal,.whitetail-hover-border-charcoal:hover{border-color:#373F51!important}
.whitetail-border-grey,.whitetail-hover-border-grey:hover{border-color:#aaaaaa!important}
.whitetail-border-white,.whitetail-hover-border-white:hover{border-color:#D8DBE2!important}
.whitetail-border-blue,.whitetail-hover-border-blue:hover{border-color:#5E81AC!important}
.whitetail-border-green,.whitetail-hover-border-green:hover{border-color:#A3BE8C!important}
.whitetail-border-yellow,.whitetail-hover-border-yellow:hover{border-color:#EBCB8B!important}
.whitetail-border-orange,.whitetail-hover-border-orange:hover{border-color:#D08770!important}
.whitetail-border-red,.whitetail-hover-border-red:hover{border-color:#BF616A!important}
.whitetail-border-purple,.whitetail-hover-border-purple:hover{border-color:#B48EAD!important}
.whitetail-border-brown,.whitetail-hover-border-brown:hover{border-color:#524632!important}
.whitetail-border-tan,.whitetail-hover-border-tan:hover{border-color:#8F7E4F!important}
.whitetail-border-sage,.whitetail-hover-border-sage:hover{border-color:#C3C49E!important}

