<!doctype html>
<html style="height:100%;min-height:100%;">
  <head>
    <title>Whitetail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- add the icon -->
    <link rel="icon" href="/static/img/favicon.png">
    <!-- add w3 css -->
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- add jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- add fontawesome -->
    <script src="https://kit.fontawesome.com/239a824854.js" crossorigin="anonymous"></script>
    
    <!-- add custom css -->
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
    <!-- add custom js -->
    <script src="/static/js/dashboard.js"></script>
    <!-- include plotly.js -->
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
  </head>
  <body class="light theme-base">
    <div id="error-modal" class="w3-modal" style="z-index:1000;">
        <div class="w3-modal-content w3-animate-top w3-card-4 w3-round light theme-light w3-border theme-border-light">
            <header class="w3-container scaffold-red">
                <span onclick="closeModal('error-modal')"
                    class="w3-button w3-display-topright">&times;</span>
                <h4>ERROR</h4>
            </header>
            <div class="w3-container">
                <br>
                <pre style="width:100%;height:400px;overflow-y:auto;" id="error-container">
                </pre>
                <br>
                <br>
                <button class="w3-button whitetail-green w3-round w3-right" onclick="closeModal('error-modal')">Okay</button>
                <br>
                <br>
            </div>
        </div>
    </div>
    
    <div class="w3-sidebar w3-bar-block w3-card w3-border light theme-border theme-border-light theme-light sidebar" id="sidebar" style="z-index:996;left:-300px;">
        <div class="w3-container w3-border-bottom whitetail-brown w3-container sidebar-header">
            <div class="w3-large w3-container w3-cell w3-cell-middle w3-left-align default-cursor sidebar-item">
                <i class="fa-solid fa-bars w3-large" onclick="toggleSidebar()"></i>
            </div>
            <div class="w3-large w3-container w3-cell w3-cell-middle w3-left-align sidebar-item">
                <h3>Whitetail</h3>
            </div>
        </div>
        <a href="/ui/home" class="w3-bar-item w3-button light theme-border-light w3-border-bottom whitetail-hover-sage">
            <i class="fas fa-home"></i> Home
        </a>
        <a href="/ui/query" class="w3-bar-item w3-button light theme-border-light w3-border-bottom whitetail-hover-sage">
            <i class="fas fa-search"></i> Query
        </a>
        <div class="w3-container w3-border-bottom whitetail-brown w3-container sidebar-header">
            <div class="w3-large w3-container w3-cell w3-cell-middle w3-left-align sidebar-item">
                <h5>Dashboards</h5>
            </div>
        </div>
        {{ range .dashboards }}
        <a href="/ui/dashboard/{{ . }}" class="w3-bar-item w3-button light theme-border-light w3-border-bottom whitetail-hover-sage">
            <i class="fas fa-guage"></i> {{ . }}
        </a>
        {{ end }}
        <div class="w3-border-top theme-border-light whitetail-tan w3-container sidebar-copyright" style="position:absolute;bottom:0px;">
            &copy; 2023 John Carter v{{ .version }}
            <i class="fa-solid fa-palette w3-right sidebar-theme whitetail-text-sage" onclick="toggleTheme()" id="theme-button"></i>
        </div>
    </div>
    
    <div class="main">
      <div class="w3-bar light whitetail-tan w3-card-4 w3-border theme-border-light w3-padding">
          <div class="w3-large light w3-container w3-cell w3-cell-middle w3-left-align default-cursor breadcrumb" style="display:inline-block;margin-top:10px;">
              <i class="fa-solid fa-bars w3-large" onclick="toggleSidebar()"></i>
          </div>
          <div class="w3-large light w3-container w3-cell w3-cell-middle w3-right-align breadcrumb" style="display:inline-block;margin-top:10px;">
              <a href="/ui/dashboard/{{ .name }}" class="light theme-text">Dashboard &sol; {{ .name }}</a>
          </div>
      </div>
      
      <div class="contents w3-container">
        <br>
        <div class="card-container w3-container">
          <div class="light theme-base">
              <table class="w3-table" id="display-table">
                  {{ range $y := .rows }}
                      <tr>
                          {{ range $.graphs }}
                              {{ if eq .y_coord $y }}
                                  <td colspan="{{ .colspan }}" rowspan="{{ .rowspan }}" width="{{ .width }}" height="{{ .height }}">
                                      <div style="display:none;">{{ .string_def }}</div>
                                      <div class="w3-card-4 w3-round light theme-border-light w3-border w3-container" id="graph-{{ .name }}">
                                      </div>
                                  </td>
                              {{ else }}
                                  <td>
                                  </td>
                              {{ end }}
                          {{ end }}
                      </tr>
                  {{ end }}
              </table>
          </div>
          
        </div>
        <br>
      </div>
    </div>
    <div class="full-page darken" id="page-darken" style="opacity:0;"></div>
    <div id="spinner"></div>
  </body>
</html>
